@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700;800;900&display=swap");

/* font-family: 'Jost', sans-serif; */

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background: black;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  flex-grow: 1;
  max-width: 997px;
  padding: 18px;
  box-sizing: border-box;
  background: #7ab7fe;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logo {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  transform: rotate(-21.34deg);
  position: absolute;
  top: 28px;
  right: 26px;
}

.logo__inner {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  transform: rotate(60.88deg);
}

.button {
  background: #000000;
  border: 0;
  border-radius: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 42px;
}

/* ===========================================
        Заглавная страница
   =========================================== */

.intro__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 58px;
  margin: 0;
  max-width: 825px;
}

.intro__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.intro__content {
  box-sizing: border-box;
  min-height: 460px;
  background: url("img/07.png");
  background-repeat: no-repeat;
  background-size: 460px 460px;
  background-position: right;
  margin-right: -10px;
  padding-right: 460px;
  padding-top: 50px;
}

.intro__buttons {
  text-align: center;
  margin-top: 50px;
}

/* ===========================================
        Cтраница вопроса
   =========================================== */

.question {
  max-width: 775px;
  margin: 0 auto;
}

.question__title {
  font-family: "Jost";
  font-size: 40px;
  margin: 0 0 55px;
}

.question__content {
  font-family: "Jost";
  font-size: 36px;
}

.question__buttons {
  margin-top: 85px;
  display: flex;
  justify-content: space-evenly;
}

/* ===========================================
        Cтраница ответа
   =========================================== */

.answer {
  box-sizing: border-box;
  min-height: 460px;
  background: url("img/03.png");
  background-repeat: no-repeat;
  background-size: 460px 460px;
  background-position: right;
  margin-right: -10px;
  padding-right: 460px;
  padding-top: 50px;
}

.answer__title {
  font-family: "Jost";
  font-size: 55px;
  font-weight: 700;
  margin: 0 0 45px;
  text-transform: uppercase;
}

.answer__content {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 280px;
}

.answer__paragraph {
  margin: 10px 0;
}

.answer__buttons {
  flex-grow: 1;
  display: flex;
  align-items: end;
  justify-content: center;
}

/* ===========================================
        Cтраница результата
   =========================================== */

.result {
  max-width: 775px;
  margin: 0 auto;
}

.result__title {
  font-family: "Jost";
  font-size: 96px;
  margin: 0 0 35px;
}

.result__content {
  font-family: "Jost";
  font-size: 36px;
}

.result__buttons {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
